[
    {
        "exchange": "mexc_spot",
        "symbols": [
            {
                "symbol": "BTCUSDT",
                "aliases": [
                    "WBTC-USDC"
                ],
                "timeframes": [
                    "1day"
                ]
            }
        ]
    }
]